#dados pessoais
enviar.php

#WordPress
wordpress/
wordpress2/

#Projetos pessoais
/known host files.txt
/nbproject/private/
/teste/nbproject/private/
/teste
/br.com.descomplicamonografia
/inscritopremiado/
/br.com.descomplicamonografia/
/br.com.guiaexpressocrateus/
/local.guiaexpressocrateus/
/br.com.jonathanecristiano/
/br.com.guiaexpressocrateus - Copia
/br.com.ivanilcepsicologa/
/br.com.jonathecristiano/
/br.com.guiaexpressocrateus - Copia (2)/
/xyz.ganharcomclickmusic/
/br.com.meumundopsi/
/br.solucoesengenharia/
/xyz.ganharcomclickmusic.adm/
/br.com.guiaexpressocrateus.cupom/
/br.com.devr7.farmacia/
/br.com.devr7/
/br.com.devr7.leilao.adm/
/br.com.devr7.leilao/
/br.solucoesengenharia/
/SOAP/
/classificados/
/captcha/
/codeigniter-teste/
/componentes/
/converter_numeros_em_por_extenso - Copia/
/converter_numeros_em_por_extenso/
/crud/
/crudoo/
/curl/
/editor-de-texto/
/efeito-mouse/
/efeito-painel/
/email/
/exercicios solid/
/favicon.ico
/herança/
/known host files.txt
/landpage-multilinguagem/
/leilao/
/local.guiaexpressocrateus/
/gd/
/login
/manipulando-img-com-gd/
/marketing/
/modelo-paginacao-mvc/
/modelo_de_painel_com_mvc/
/opencart/
/manipulando-img-com-gd/
/paginacao-completa/
/paginacao-sem-ajax/
/paginacao/
/pdf-com-mpdf-php/
/php-ml/
/phpinfo/
/qrcode-js-master/
/qrcode2/
/recadastrar-senha/
/rewrite/
/routers-mvc/
/routers/
/sessao/
/temporizador/
/teste/
/trabalhando-com-testes/
/twa/
/usando-pacotes-namespace-e-use/
/xml/
/MVC/
/Nova pasta/
/OO/
/autoload-PSR-4-unico-autoload/
/autoload-PSR-4-varios-autoload/
/autoload-composer-PSR-4/
/autoload/
/backup-db/
/banco/
/blog/
/calendario/
/calculo-distancia/
/crud/
/editor-de-texto/
/heranca/
/modelo_de_painel_com_mvc/
/twa/
/codeigniter-teste/