body{
	border:0;
	padding:0;
	background:#EBEBEB;
}

.row{
	margin-left:0;
	margin-right:0;
}
.textPurple{
	color:#5017D4;
}

.textGreen{
	color:#0BA11E;
}

.textGreenDark{
	color:#178725;
}

.textOrange{
	color:#DB750E;
}

.textPurpleDark{
	color:#2A0187;
}

nav{
	background-color: #5017D4;
}


#btnMobile{
	background-color:#5017D4;
}

.line{
	width:20px;
	height:2px;
	margin:5px;
	background-color:#FFF;
}

#menu{
	display:none;
}


#frmBuscar{
	position:relative;
}

#frmBuscar input{
	width:100%;
}

#frmBuscar button[type="search"]{
	position:absolute;
	right:0;
	background-color: #FFF;
}

.btnNav{	
	color:#FFF;
}

.btnNav:hover, #lnk_anuncio:hover{
	text-decoration:none;
	color:#d1d1d1;
}

#lnk_anuncio{
	background:#DB750E;
	color:#FFF;	
}

/*Menu*/

nav ul{
	padding:0;
	margin:0;
}

nav li{
	list-style:none;
}

#mnu_produtos{
	cursor:pointer;		
}

#mnu_produtos li{
	padding-bottom:0;
}

#mnu_opcoes{		
	flex-direction: column;
	align-items: start !important;
    line-height: 40px;
}

#submnu_produtos{
	display:block;
	padding-left:15px;
}

/*Categorias*/
#categorias ul{
	padding:0;
}


#categorias .categorias{		
	color:#DB750E;	
	cursor:pointer;
}


#categorias li{
	list-style:none;	
}

#categorias .categorias:hover{	
	color:#FFF;
	background:#2A0187;	
	cursor:pointer;
}

#categorias li:hover{	
	background:#2A0187;
}

#categorias{
	border-color:#5017D4 !important;
}

#lnkServico: hover{
	
}

/*Carrosel index*/

.carousel-1{
	display:none;
}

.carousel-1 .owl-next{
	position: absolute;
    top: 140px;    
    right: 52px;
}

.carousel-1  .owl-prev{
	position: absolute;
    top: 140px;    
	left: 40px;
}

.carousel-1 .owl-nav{
	font-size:70px;
	color:#d1d1d1;
}

.carousel-1 .owl-dots{
	display:none;
}
	
.carousel-1 .owl-item img {
	height:350px !important;
}

/*Produto_descricao*/
.carousel-2 .owl-item img {
	width:450px !important;
	height:auto;
}

.carousel-2 .owl-next,
.carousel-2  .owl-prev,
.carousel-2 .owl-dots,
.carousel-1 .owl-nav{
	display:none !important;
}

.carousel-2 div img:hover{
	cursor: pointer;
}


/*Produto_descricao Modal*/
.carousel-3 .owl-dots{
	display:none;
}

.carousel-3 .owl-next{
	position: absolute;
    top: 140px;    
    right: 0px;
}

.carousel-3  .owl-prev{
	position: absolute;
    top: 140px;    
	left: 0px;
}

.carousel-3 .owl-nav{
	font-size:60px;
	color:#968a8a;
}

.carousel-3 .owl-item img {
	height:350px !important;
}

/*Cadastrar produto*/
#valor{
	width:70px;
	line-height:35px;
}

#quantidade button{
	width:43px;
}

pre{
	font-family:Arial;
}

.mini{
	width:70px;
	height:60px;
}

/*Index*/
.produtos{
	background:#FFF;
	margin-bottom:10px;
}

#lateral{
	display:none;
}

.produtos{	
	height:360px;
}

.produtos:hover{
	-webkit-box-shadow: 3px 3px 30px 7px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 3px 3px 30px 7px rgba(50, 50, 50, 0.77);
	box-shadow: 3px 3px 30px 7px rgba(50, 50, 50, 0.77);
}

/*Define uma altura maxima pra a imagem*/
.produto_fotos img{
	max-height:250px;
}

/*Mesmo que o titulo sejá maior que a div o estouro nao será exibido*/
.titulo{
	overflow:hidden;
	height:28px;
}

@media only screen and (min-width : 576px){
	.mobile{
		display:none;
	}
	
	#menu{
		display:block !important;
	}
	
	#mnu_opcoes{		
		flex-direction: row !important;
		height:32px;
	}

	#submnu_produtos{
		width:136px;
		position:absolute;
		background-color:#2A0187;
		cursor: pointer;
		display:none;
		z-index:999;
		border-left:2px solid #FFF;
		padding-left:0;
	}
	
	#mnu_produtos:hover #submnu_produtos{
		display:block;
	}
	
}

@media only screen and (min-width : 768px){
	.carousel-1{
		display:block;
	}	
	
	#lateral{
		display:block;
	}
	
	.produto_fotos{
		height:250px;
	}	
	
}