.poup-up{
	position:absolute; 
	z-index:999;	
	display:none;
}

.poup-up div{
	padding:10px;
}

.poup-up hr{
	margin:0;
}

.poup-up div:hover{
	background-color:#295293;
	color:#fff;
}

#btnAtualizar{
	display:none;
}


@media only screen and (max-width : 600px){
	#media{
		display: block;
	}
	
	.poup-up{
		max-width: 60%;
	}
}