#banner {
	width: 100%;
}

#banner-img {
	max-width: 100%;
}

/*admin tabs*/

.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    background-color: white;
    color: blue;
    margin-top: 4%;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}

.register-heading{
	text-align: left;
    color: #e9ecef;
    margin-top: 4%;
}

.btnLoginSubmit{
    border: none;
    padding: 2%;
    width: 25%;
    cursor: pointer;
    background: #29abe2;
    color: #fff;
}
.btnForgetPwd{
    cursor: pointer;
    margin-right: 5%;
    color: #f8f9fa;
}
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
}
.nav-tabs .nav-link{
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.btn-cod {
    color: #fff;
    background: #14559b;
    transition: 0.5s;
    font-weight: 600;
}

.btn-cod:hover {
    color: #14559b;
    background: #fff;
    border:1px solid #14559b;
}

p.mostrar-codigos {
    margin-left: 20px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
}

p.titulo-video {
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
}

p.mostrar-vencedor {
    margin-left: 20px;
    color: #fff;
    font-size: 1.2em;
}

p.mostrar-vencedor span {
    font-weight: 600;
}

.only-mob {
    display: none;
}

.only-pc{
    display: block;
}

p#copy {
    margin-top: 50px;
    text-align: center;
    color: gray;
}

p#copy a {
    color: #00C8FF;
}

a.btn.btn-limpar {
    color: #343DB5;
    background: #fffc;
    border: 1px solid #343DB5;
    margin-top: 18px;
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;
}

.texto-sucesso h3 {
    text-align: center;
    color: #003D6F;
}

.imagem-sucessso img {
    display: table;
    margin: auto;
    max-width: 100%;
    padding-top: 30px;
}

div#ganhou {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
  #input-cod {
  	width: 100%;
  	display: table;
  	margin-right: auto;
  	margin-left: auto;
  }

    .only-mob {
        display: block;
    }

    .only-pc{
        display: none;
    }

    h3.register-heading {
    display: table;
    margin-left: auto;
    margin-right: auto;
    }
}