#REWRITE OU URL AMIGAVEIS
#As urls amigas são muito usadas no .htacdess para substituir valores como por exemplo quando o usuario digitar seusite.com a url mudar para
#https://www.seusite.com redirecionando a url para um site https e www mesmo sem o usuario digitar facilitando o SEO do google 
#ela ira trocar a url por outra, o usuario encherga uma coisa mas no servidor esta outra.
<IfModule mod_rewrite.c>
	RewriteEngine On #Liga a maquina rewrite 
	RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond sao condições de execucao, aqui nao aplica as alterações em arquivos e logo apos em pastas
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?q=$1 [L]
	
</ifModule>
#Rule sao regras a serem aplicadas , ou seja o que de fato ira acontecer, ao acessar index ele ira passar o parametro q

#^(.*) indica para armazenar em uma variavel toda a requisicao da url ^inicio $fin